
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	.logo{
		display: inline-flex;
		justify-content: space-around;
		align-items: center;
		width: 200px;
		padding: 0 20px;
		font-size: 24px;
		font-weight: bold;
	}
	.user{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 20px;
		font-size: 12px;
		.user-name{
			height: 16px;
			line-height: 16px;
			padding: 0 10px 0 0;
			margin: 0 10px;
			border-right: 1px solid #f5f5f5;
		}
	}
	.log-out{
		color: #fff;
	}
}