@import '~antd/dist/antd.css';

.iframe-wrap{
	border: 1px solid #e8e8e8;
	border-top: none;
}

.ant-layout-header{
	padding: 0;
}
.page-layout{
	padding-left: 24px;
	height: calc(100vh - 64px);
}
.page-content{
	height: calc(100vh - 120px);
	margin: 0;
	background: #fff;
	border-left: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}
.ant-tabs-bar{
	margin: 16px 0 0 0;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container{
	max-height: 40px;
	height: auto;
}

.ant-breadcrumb{
	margin: 0;
	padding: 16px;
	background-color: #fff;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	font-weight: bold;
}
.loading{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: rgba(0,0,0,0.05);
}

.p-lg{
	padding: 40px;
}

.desc-list{
	li{
		padding: 8px;
	}
}
.tips{
	font-size: 12px;
	color: #F5222D;
}

code{
	font-size: 12px;
	padding: 4px 8px;
	border-radius: 4px;
	background: #eee;
}